.back{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;
    font-family: Montserrat Medium;
    font-size: 20px;
}

.back a{
    text-decoration: none;
    color: black;
}
.back:visited{
    color: black;
}

.back a:hover{
    color: #6F0EFF;
}

.display{
    display: flex;
    margin-right: 0px;
}

.displaypicture img{
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    margin-left: 80px;
}

.description{
    justify-content: center;
    align-content: center;
}

.description h3{
    font-family: Montserrat Bold;
    align-items: center;
    font-size: 60px;
    margin-left: 80px;
}


.description p{
    font-family: Montserrat Medium;
    font-size: 18px;
    align-items: center;
    margin-left: 80px;
    margin-right: 50px;
}

.listmaps{
    justify-content: space-around;
    margin-top: 60px;
    display: flex;
}

.list1{
    justify-content: center;
    align-items: center;
}

.list1 img{
    width: 15vw;
    height: 15vh;
    border-radius: 20px;
}

.list2{
    justify-content: center;
    align-items: center;
}

.list2 img{
    width: 15vw;
    height: 15vh;
    border-radius: 20px;
}

.list3{
    justify-content: center;
    align-items: center;
}

.list3 img{
    width: 15vw;
    height: 15vh;
    border-radius: 20px;
}

.list4{
    justify-content: center;
    align-items: center;
}

.list4 img{
    width: 15vw;
    height: 15vh;
    border-radius: 20px;
}


